.pokemon_list_wrap {
	width: 1500px;
	margin: 50px auto 0 auto;
	padding: 1rem 1rem 2rem;

	@media (max-width: 1500px) {
		width: calc(100% - 50px);
	}
}

.pokemon_list_container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 20px;

	@media (max-width: 1500px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 850px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 500px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.pokemon_show_more_btn_container {

	button {
		margin: 50px auto 0;
		display: block;
		width: 400px;
		padding: .6rem;
		font-size: 1.05rem;
		letter-spacing: 1.5px;
		background-color: #000;
		color: #fff;
		cursor: pointer;
	}
}