.pokemon_evolution_container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;

	p{
		padding: 2rem 0;
	}

	&.dark_mode {
		color: rgba(255,255,255, .95);
	}
}

.dark_mode {
	color: rgba(255,255,255, .95);
}

.pokemon_evolution_item {
	display: flex;
	flex-direction: column;

	img {
		width: 9rem;
	}
}
